# Docker-compose file for TTN gateway
# Collectd reporting stack
# Requires docker-compose 1.9 or newer

# Version 2.1 for resin compatibility
version: '2.1'
services:
  # The gateway itself
  gateway:
    build:
      context: gateway
      args:
        GW_MACHINE_NAME:
    image: amedee/ttn-gateway
    privileged: true
    network_mode: host
    restart: always
    environment:
      GW_KEY: "${GW_KEY:?Gateway Key is mandatory}"
      GW_ID: "${GW_ID:?Gateway Id is mandatory}"
      GW_EUI: "${GW_EUI}"
      GW_LOGGER: "${GW_LOGGER:-false}"
      GW_PRINT_STATS: "${GW_PRINT_STATS:-true}"
      GW_SPI_SPEED: "${GW_SPI_SPEED}"
      GW_GPS: "${GW_GPS:-false}"
      GW_RESET_PIN: "${GW_RESET_PIN:-22}"
    devices:
      - "/dev/mem:/dev/mem"
    volumes:
      - var_ttn_vol:/var/ttn
  # Collectd
  collectd:
    build:
      context: collectd
      args:
        GW_MACHINE_NAME:
    image: amedee/ttn-collectd
    privileged: true
    network_mode: host
    restart: always
    environment:
      GW_COLLECTD_SERVER: "${GW_COLLECTD_SERVER}"
      GW_BACKPLANE: "${GW_BACKPLANE}"
      GW_TTN_FAN: "${GW_TTN_FAN}"
    volumes:
      - var_ttn_vol:/var/ttn
  # Fan control for dbrgn's backplane
  fan:
    build:
      context: fan
      args:
        GW_MACHINE_NAME:
    image: amedee/ttn-fan
    privileged: true
    network_mode: host
    restart: always
    environment:
      GW_TTN_FAN: "${GW_TTN_FAN}"
      GW_INFLUXDB_HOST: "${GW_INFLUXDB_HOST}"
      GW_INFLUXDB_DBNAME: "${GW_INFLUXDB_DBNAME}"
      GW_TARGET_TEMP: "${GW_TARGET_TEMP}"
    volumes:
      - var_ttn_vol:/var/ttn

volumes:
  var_ttn_vol:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
